<!doctype html>
<html>
<head>
  <title>Avocado :D</title>
  <!-- metas -->
  <meta charset="UTF-8">
  <meta name="description" content="Let's make some avocados!">
  <meta name="keywords" content="avocado, the avocado project, project, yum">
  <meta name="author" content="Dhwani Shah">
</head>

<body>
  <% include ./partials/header %>

  <%- body -%>

  <% include ./partials/footer %>
</body>
</html>
